a {
  text-decoration: none;
  color: unset;
}
.v-btn{
  text-transform: none !important;
}
html{
  font-size: 14px!important;
}
h1{
  font-size: 1.4rem;
}
h2{
  font-size: 1.3rem;
}
h3{
  font-size: 1.2rem;
}
h4{
  font-size: 1.1rem;
}